@model IEnumerable<Vidly_App.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="customer" class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Discount Name</th>
            <th>Delete</th>
        </tr>

    </thead>
    <tbody>
        @*without using datatables

        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
                <td>
                    <button class="btn-link js-delete" id=@customer.Id>delete</button>
                </td>
            </tr>
        }*@
    </tbody>

</table>


@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#customer").DataTable({
                ajax: {
                    url: "/api/customers/",
                    dataSrc: "",
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/api/customers/" + customer.id + "'>" + customer.name + "</>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "Id",
                        render: function (data,type, customer) {
                            return "<button class='btn-link js-delete' id=" + customer.id + "> Delete </button>";
                        }
                    }
                ]
            });
            $("#customer").on("click", ".js-delete", function (e) {
                bootbox.confirm({
                    size: "small",
                    message: "Are you sure?",
                    closeButton: true,
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + e.target.id,
                                method: "DELETE",
                                success: function () {
                                    table.row(e.target.parentNode.parentNode).remove().draw();
                                   
                                }
                            })
                        }
                    }
                })


            })

        })
    </script>
}

